@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#about {
	padding-left: 15%;
	padding-right: 25%;
	min-height: 105vh;
}

.about-description ul {
	padding-top: 20px;
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(2, minmax(300px, 1fr));
}

.about-description li {
	position: relative;
	padding-left: 30px;
	font-size: 25px;
	color: var(--slate);
}

.about-description li::before {
	content: '▹    ';
	color: var(--green-bright);
	position: absolute;
	left: 0;
}

.tech-stack li {
	padding-right: 20px;
}

.about-content {
	display: flex;
	flex-direction: row;
}

.about-description {
	font-family: 'DungGeunMo', sans-serif;
	color: var(--slate);
	max-width: 660px;
	font-size: 25px;
	margin: 0;
}

.about-description a,
.about-description b {
	font-size: 25px;
	font-weight: bold;
}

.about-image {
	padding-left: 40px;
}

.about-image img {
	max-width: 300px;
	height: auto;
	border-radius: 10px;
	margin-left: 30px;
	box-shadow: 6px 13px 23px -5px rgba(0, 0, 0, 0.46);
	border: none;
	transition: transform 0.3s ease;
}

@media only screen and (max-width: 788px) {
	.about-image img {
		max-width: 200px;
	}
}

@media only screen and (max-width: 600px) {
	#about {
		height: unset;
		padding: 30% 0 0;
	}

	.about-description {
		font-size: 17px;
		text-align: justify;
	}

	.about-description a,
	.about-description b {
		font-size: 17px;
	}

	.about-image img {
		display: none;
	}

	.about-content {
		display: block;
	}
}
