@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

#intro {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 15%;
	padding-top: 18%;
	min-height: 100vh;
}

canvas {
	width: 200px !important;
}

.Typist {
	color: var(--lightest-slate);
	text-align: center;
	font-size: 80px;
	margin-top: -30px;
}

.Typist .Cursor--blinking {
	color: var(--green-bright);
	padding-left: 4px;
}

.intro-title,
.intro-name {
	font-family: 'DungGeunMo', sans-serif;
	font-size: 80px;
}

.intro-name {
	color: var(--green-bright);
	font-weight: bold;
}

.intro-subtitle {
	font-family: 'DungGeunMo', sans-serif;
	color: var(--slate);
	font-weight: 300;
	font-size: 40px;
	margin-top: 2px;
}

.intro-desc {
	color: var(--slate);
	font-family: 'DungGeunMo', sans-serif;
	font-size: 24px;
	max-width: 48%;
	text-align: left;
	padding-bottom: 50px;
}

.intro-contact {
	font-size: 20px;
	font-weight: bolder;
	font-family: 'DungGeunMo', sans-serif;
	padding: 15px 30px;
	cursor: pointer;
	border: 1px solid var(--green-bright);
	border-radius: 4px;
}

.intro-contact:hover {
	background-color: var(--lightest-navy);
}

b {
	font-size: 17px;
}

@media only screen and (max-width: 600px) {
	#intro {
		min-height: unset;
		padding-left: unset;
		margin: 0;
		align-items: center;
	}

	.intro-title,
	.intro-name {
		font-size: 46px;
	}

	.Typist {
		font-size: 36px;
	}

	.intro-subtitle {
		margin: 0;
		font-size: 28px;
		text-align: center;
	}

	.intro-desc {
		font-size: 18px;
		text-align: center;
		max-width: unset;
		padding-bottom: 40px;
	}

	.intro-contact {
		font-size: 16px;
		align-self: center;
		margin-left: 30%;
	}
}
